.textInput {
  all: unset;
  border: 1px solid var(--border);
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: var(--textInputBackground);
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formFooter {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

